{% block footer %}
<footer
class="footer-area footer-style-2"
style="background-color: #222; color: #fff; padding: 50px 0"
>
<div class="container">
  <div class="row">
    <!-- Logo Section -->
    <div class="col-lg-4 col-md-6 text-center text-md-left">
      <div class="footer-widget">
        <div class="logo-container">
          <div
            class="logo-text"
            style="
              font-size: 32px;
              font-weight: 700;
              color: #ff5c5c;
              letter-spacing: 1px;
              text-transform: uppercase;
              margin-bottom: 20px;
            "
          >
            SportiVision
          </div>
        </div>
      </div>
    </div>

    <!-- Navigation Links Section -->
    <div class="col-lg-4 col-md-6 text-center text-md-left">
      <div class="footer-widget widget_nav_menu">
        <h4
          style="
            font-size: 20px;
            font-weight: 600;
            color: #fff;
            margin-bottom: 20px;
          "
        >
          Quick Links
        </h4>
        <ul style="list-style: none; padding: 0">
          <li style="margin-bottom: 12px">
            <a
              href="./index.html"
              class="nav-link"
              style="
                color: #bbb;
                text-decoration: none;
                font-size: 16px;
                transition: color 0.3s;
              "
              >Home</a
            >
          </li>
          <li style="margin-bottom: 12px">
            <a
              href="./events.html"
              class="nav-link"
              style="
                color: #bbb;
                text-decoration: none;
                font-size: 16px;
                transition: color 0.3s;
              "
              >Events</a
            >
          </li>
          <li style="margin-bottom: 12px">
            <a
              href="#"
              class="nav-link"
              style="
                color: #bbb;
                text-decoration: none;
                font-size: 16px;
                transition: color 0.3s;
              "
              >Shop</a
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- Social Media Icons Section -->
    <div class="col-lg-4 col-md-12 text-center">
      <div class="footer-widget widget icons">
        <h4
          style="
            font-size: 20px;
            font-weight: 600;
            color: #fff;
            margin-bottom: 20px;
          "
        >
          Follow Us
        </h4>
        <ul
          style="
            display: flex;
            justify-content: center;
            padding: 0;
            list-style: none;
          "
        >
          <li style="margin-right: 15px">
            <a
              href="#"
              target="_blank"
              style="
                color: #fff;
                font-size: 28px;
                transition: color 0.3s;
                display: inline-block;
              "
              ><i class="fab fa-facebook-f"></i
            ></a>
          </li>
          <li style="margin-right: 15px">
            <a
              href="#"
              target="_blank"
              style="
                color: #fff;
                font-size: 28px;
                transition: color 0.3s;
                display: inline-block;
              "
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li style="margin-right: 15px">
            <a
              href="#"
              target="_blank"
              style="
                color: #fff;
                font-size: 28px;
                transition: color 0.3s;
                display: inline-block;
              "
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
          <li>
            <a
              href="#"
              target="_blank"
              style="
                color: #fff;
                font-size: 28px;
                transition: color 0.3s;
                display: inline-block;
              "
              ><i class="fab fa-youtube"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Copyright Section -->
<div
  class="copyright-area"
  style="background-color: #222; padding: 20px 0; text-align: center"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div
          class="copyright-area-inner"
          style="color: #bbb; font-size: 14px"
        >
          &copy; <span id="year"></span> SportiVision. All rights
          reserved.
        </div>
      </div>
    </div>
  </div>
</div>
</footer>

{% endblock %}
